extends ../layout.jade

block content
  div.text-center
    div.col-md-8.col-md-offset-2
      h2.text-success  Add New Technology
  form.form-control-group(name='new_technology' method='post' action='/technologies' role='form')
    div.col-md-8.col-md-offset-2
      div.form-group
        label(for='technology-name') Name
        input.form-control(type='text' name='name' id='technology-name' required)

      button.btn.btn-success(type='submit') Submit
