extends ../layout.jade

block content
  div.row.text-center
    div.col-md-8.col-md-offset-2
      h2.text-success List of project
      table.table.table-striped
        thead
          tr
            th #
            th Name
            th link
            th Description
        tbody
          for project in projects
            tr
              td #{projects.indexOf(project) + 1}
              td #{project.dataValues.name}
              td #{project.dataValues.link}
              td #{project.dataValues.description}
