extends ../layout.jade

block content
  div.row.text-center
    div.col-md-8.col-md-offset-2
      h2.text-success General Infos
      table.table.table-striped
        thead
          tr
            th #
            th Title
            th Description
        tbody
          for general_info in general_infos
            tr
              td #{general_infos.indexOf(general_info) + 1}
              td #{general_info.dataValues.title}
              td #{general_info.dataValues.description}
