extends layout.jade

append styles
  style(type='text/css')
    |    .top-pad { margin-top:75px; }
    | .no-right-gutter { margin-right:0; }
    | .no-left-gutter { margin-left:0; }

block content
  div.row.text-center
    div.col-md-6.col-md-offset-3
      h1 Welcome to foggy resource.
